<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block stylesheet %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/header.css') }}">
</head>
<body>
    {% block header %}
    <header>
      <div class="header__logo">
        <a href="{{ path('index_page') }}">
            <picture>
                <source srcset="{{ asset('bundles/app/img/header/app_rogo@2x.png') }}" media="screen and (min-width: 1500px)">
                <source srcset="{{ asset('bundles/app/img/header/app_rogo.png') }} 1x,{{ asset('bundles/app/img/header/app_rogo@2x.png') }} 2x" media="screen and (max-width: 600px)">
                <img src="{{ asset('bundles/app/img/header/app_rogo.png') }}" srcset="{{ asset('bundles/app/img/header/app_rogo@2x.png') }} 2x" width="121" height="24" alt="">
            </picture>
        </a>
      </div>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      
      <nav class="globalMenuSp">
          <ul>
              <li class="globalMenuSp_first"><a href="{{ path('diagnoze_cate') }}">診断する</a></li>
              <li class="globalMenuSp_second"><a href="{{ path('contrib_index') }}">投稿一覧</a></li>
              <li class="globalMenuSp_third"><a href="{{ path('index_page') }}">トップページ</a></li>
          </ul>
      </nav>
    <div class="header-cover"></div>
    </header>
        {% endblock %}
                {% block content %}{% endblock %}

       {% block javascript %}
{% endblock %} 
       <script>
  $(function() {
    $('.hamburger').click(function() {
        $(this).toggleClass('active');
 
        if ($(this).hasClass('active')) {
            $('.globalMenuSp').addClass('active');
        } else {
            $('.globalMenuSp').removeClass('active');
        }
    });
});
</script>
</body>
</html>