
{% extends 'layout.html.twig' %}
{% block stylesheet %}
		<link rel="stylesheet" href="{{ asset('bundles/app/css/default.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/app/slick/slick.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/app/slick/slick-theme.css') }}">
{% endblock %}
		
{% block content %}
		<div class="top">
			<div class="top-container">
				<div class="top-head">
					<h1 class="top-head__ttl">これって、ハラスメント<br>なのかな？</h1>
					<p class="top-head__txt"><span class="lg-span">Hara Nax</span>はこうした悩みを抱えている方を支援するサービスです。<br>ハラスメント度の診断や他の利用者の声を聞けるオンライン相談であなたのお悩み解決をサポートします。相談窓口等に連絡する一つの指標としてお役立てください。<br>まずはあなたのハラスメント度を診断してみましょう。</p>
				</div>
				<button class="to-dia">
					<a href="{{ path('diagnoze_cate') }}">診断する
					</a>
				</button>
			</div>
		<!-- /.container -->
		<div class="top-new">
			<div class="top-new__head">
				<h2 class="sub-ttl">最近の相談</h2>
			</div>
			<ul class="top-new__list slide">
				{% for contribution in contributions %}
				<li class="top-new__list--item">
					<a href="{{ path("contrib_detail", {"id":contribution.id }) }}" class="top-new__list--item-link">
						<div class="cb__cate">
        	            	<span class="cb__p">category</span>{{contribution.category.cateName}}
                		</div>
                		<div class="cb__txt top-new__list--item-text">{{contribution.content}}</div>
					</a>
				</li>
				
            	{% endfor %}
			</ul>
			<div class="to-list">
  			<button>
  				<a href="{{ path('contrib_index') }}">相談一覧へ</a>
			</button>
			</div>
		</div>
	</body>
</html>
  {% endblock %}
  {% block javascript %}
  <script src="{{ asset('bundles/app/slick/slick.min.js') }}"></script>
<script>
$(function(){
  $('.slide').slick({
    autoplay:true,
    autoplaySpeed:5000,
    arrows:false,
    dots:false,
    pauseOnHover:true,
	responsive: [
		{
			breakpoint: 4000,
			settings: {
				slidesToShow: 3,
        		slidesToScroll: 3
			}
		},
		{
			breakpoint: 600,
			settings: {
				slidesToShow: 2,
        		slidesToScroll: 2
			}
		},
		{
			breakpoint: 375,
			settings: {
				slidesToShow: 1,
        		slidesToScroll: 1
			}
		}
	]
  });
  if(matchMedia("(max-width: 600px)").matches){
		const slickTxts = $('.slick-slide').find('.top-new__list--item-text');
		slickTxts.each(function(){
			if($(this).html().length >= 61){
				const substr = $(this).html().substr(0, 61);
				$(this).html(substr + '...');
			}
		})
  }
});
</script>
  {% endblock %}