{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/result.css') }}">
{% endblock %}
{% block content %}
<div class="result">
  <div class="result__container">
    <div class="result__head">
      <div class="result__ttl">
        ハラスメント度
      </div>
      <div class="result__ps">
          {{resultPer}}%
      </div>
    </div>
    <div class="result__ct">
      <div class="result__txt">
          {% if resultPer >= 50 %}
            ハラスメント度が高いため、どこかの相談窓口に行くことをお勧めします。<br>また、身近な人や信頼できる人に相談相手になってもらうと気持ちが楽になるでしょう。
          {% else %}
            ハラスメント度はあまり高くありませんでした。しかし、今あなたが現状に苦しさを感じているなら思い切って誰かに相談してみるのも良いでしょう。
          {% endif %}
          <br>Hara Naxの<a href="{{ path('contrib_make') }}" class="result__txt-link">オンライン相談</a>ではハラスメント内容を投稿することで他の利用者から共感やアドバイスをもらうことができます。ぜひご利用下さい。
      </div>
      <div class="result__img">
            <picture>
                <source srcset="{{ asset('bundles/app/img/result/result-img@2x.png') }}" media="screen and (min-width: 1500px)" alt="HaraNaxキャラクター">
                <source srcset="{{ asset('bundles/app/img/result/result-img.png') }} 1x,{{ asset('bundles/app/img/result/result-img@2x.png') }} 2x" width="145" height="108" media="screen and (max-width: 400px)" alt="HaraNaxキャラクター">
                <img src="{{ asset('bundles/app/img/result/result-img.png') }}" srcset="{{ asset('bundles/app/img/result/result-img@2x.png') }} 2x" width="174" height="131" alt="HaraNaxキャラクター">
            </picture>
            <div class="to-consult">
              <button>
                <a href="{{ path('contrib_make') }}">オンラインで相談</a>
              </button>
            </div>
          </div>
      </div>
  </div>
<div class="to-top">
  <button class="to-top__btn"><a href="{{ path('index_page') }}">TOPへ</a></button>
</div>
</div>
  {% endblock %}
  {% block javascript %}
    {% endblock %}