{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/result.css') }}">
{% endblock %}
{% block content %}
<div class="result">
  <div class="result__container">
    <div class="result__ttl">
      ハラスメント度
    </div>
    <div class="result__ps">
        {{resultPer}}%
    </div>
    <div class="result__ct">
      <div class="result__img">
        <img src="./img/result-img.png" alt="">
                    <picture>
                <source srcset="{{ asset('bundles/app/img/result/result-img@2x.png') }}" media="screen and (min-width: 1500px)">
                <source srcset="{{ asset('bundles/app/img/result/result-img.png') }} 1x,{{ asset('bundles/app/img/result/result-img@2x.png') }} 2x" media="screen and (max-width: 600px)">
                <img src="{{ asset('bundles/app/img/result/result-img.png') }}" srcset="{{ asset('bundles/app/img/result/result-img@2x.png') }} 2x" width="174" height="131" alt="">
            </picture>
      </div>
      <div class="result__txt">
          {% if resultPer >= 50 %}
            ハラスメント度が高いため、どこかの相談窓口に行くことをお勧めします。
          {% else %}
            ハラスメント度はあまり高くありませんでした。
          {% endif %}
      </div>
    </div>
  </div>
</div>
<a href="{{ path('contrib_make') }}">他の人に相談</a>
<a href="{{ path('index_page') }}">TOPへ</a>
  {% endblock %}
  {% block javascript %}
    {% endblock %}