{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/selectCate.css') }}">
{% endblock %}
{% block content %}
  <div class="content">
    <div class="container">
      <div class="cate__contents">
        <div class="cate__ttl">
          <h2>
            カテゴリ選択
          </h2>
        </div>
        <div class="cate__txt">
          受けた行為に近い、カテゴリーを選択してください。
        </div>
      </div>
      <section class="cate">
        <div class="cate__select">
            {% for key, category in categories %}
                <div class="cate__detail-ct">
                    <label class="cate__detail">
                      <button type="button" class="select-btn" value="{{ category.id }}">{{ category.cateName }}</button>
                    </label>
                </div>
            {% endfor %}
            <div class="cate__btn">
              <label class="cate__btn-detail">
                <div class="cate__btn-wrap">
                    {{ form_start(form) }}
                    {{ form_widget(form.whichHara, {"attr": {"class":"form-hidden"}}) }}
                    {{ form_errors(form.whichHara) }}
                    {{ form_widget(form.submit, {"attr": {"class":"form-submit"}}) }}
                    {{ form_end(form) }}
                </div>
              </label>
            </div>
        </div>
      </section>
    </div>
  </div>
  {% endblock %}
  {% block javascript %}
<script>
    $('.select-btn').on('click',function(){
       $('.form-hidden').val($(this).val())
    });
    $(function(){
    $('.cate__detail').on('click', function() {
      $('.cate__detail').css('background-color','');
      $(this).css('background-color','#ffff004f');
    });
  });
</script>
  {% endblock %}