{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/make_comp.css') }}">
{% endblock %}
{% block content %}
  <div class="comp__container">
    <div class="comp__wrapper">
      <div class="comp__comment">
          記入ありがとうございます。<br>ご記入いただいた内容は、相談として他の方に表示されます。
      </div>
      <span class="comp__dt">
      他の方の意見、コメントは<br>1週間後にメールにて通知されます。
      </span>
      <div class="comp__img">
        <picture>
            <source srcset="{{ asset('bundles/app/img/make_comp/woman__img@2x.png') }}" media="screen and (min-width: 1500px)">
            <source srcset="{{ asset('bundles/app/img/make_comp/woman__img.png') }} 1x,{{ asset('bundles/app/img/make_comp/woman__img@2x.png') }} 2x" media="screen and (max-width: 600px)">
            <img src="{{ asset('bundles/app/img/make_comp/woman__img.png') }}" srcset="{{ asset('bundles/app/img/make_comp/woman__img@2x.png') }} 2x" width="144" height="161" alt="女性と犬のイラスト">
        </picture>
      </div>
    </div>
    <div class="to-top">
      <button class="to-top__btn"><a href="{{ path('index_page') }}">TOPへ</a></button>
    </div>
  </div>
  {% endblock %}
  {% block javascript %}
    {% endblock %}