{{ dump() }}
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" href="{{ asset('bundles/app/css/detail.css') }}">
	</head>
	<body>
		<div class="detail">
			<div class="detail-container">
				<div class="detail-head">
					<p class="detail-head__text">
						これはサンプルです。これはサンプルです。これはサンプルです。これはサンプルです。これはサンプルです。これはサンプルです。これはサンプルです。これはサこれはサンプルです。これはサンプルです。これはサンプルです。これはサンプルです。これはサンプルです。これはサンプルです。これはサンプルです。これはサこれはサンプルです。
					</p>
				</div>
				<div class="detail-question">
					<h2 class="detail-question__ttl">あなたならどうしますか？</h2>
					<div
						class="detail-question__btn--list">
						{# <form action="{{ path(" contrib_detail", {"id":contribution.id }) }}" method="post"> #}
						<label for="">
							<input type="hidden" value="yes" name="consult">
						</label>
						<label for="">
							<input type="hidden" value="voted" name="voted">
						</label>
						<input type="submit" value="相談する" name="submit" class="button">
					</form>

					{# <form action="{{ path(" contrib_detail", {"id":contribution.id }) }}" method="post"> #}
					<label for="">
						<input type="hidden" value="no" name="consult">
					</label>
					<label for="">
						<input type="hidden" value="voted" name="voted">
					</label>
					<input type="submit" value="相談しない" name="submit" class="button">
				</form>
			</div>
		</div>
        <div id="graphWrap">  
            <div id="graph">      
                <p class="yes" id="yesGr"><span></span></p>
                <p class="no" id="noGr"><span></span></p>
            </div>
        </div>  
		<div class="detail__graph">
			<div class="detail__graph--label">
				<p class="detail__graph--text">相談する</p>
				<p class="per">00%</p>
			</div>
			<div class="detail__graph--label">
				<p class="detail__graph--text">相談しない</p>
				<p class="per">00%</p>
			</div>
		</div>
		<div class="detail__your-opinion">
			<h2 class="detail__your-opinion--ttl">あなたの意見</h2>
			{# <form action="{{ path(" contrib_detail", {"id":contribution.id }) }}" method="post"> #}
			<label for="" class="opinion-area">
				<textarea id="" name="comment" cols="47" rows="10"></textarea>
			</label>
			<input type="submit" value="コメントを送信" name="submit" class="submit-btn">
		</form>
        </div>
        <div class="to-top">
            <button class="to-top__btn">TOPへ</button>
        </div>
        <div class="detail-opinion--list">
            <p class="detail-opinion--list__ttl">
	            みんなの意見
            </p>
            {% for comment in comments %}
                <p>コメント:</p>
                <p>{{ comment.content }}</p>
            {% endfor %}

            <div class="detail-opinion--item">
                <div class="yes"></div>
                ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
            </div>
            <div class="detail-opinion--item">
                <div class="no"></div>
                ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
            </div>
            <div class="detail-opinion--item">
                <div class="yes"></div>
                ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
            </div>
        </div>
    </div>
</div>
</body>
</html>
