{% extends 'layout.html.twig' %}
{% block stylesheet %}
		<link rel="stylesheet" href="{{ asset('bundles/app/css/detail.css') }}">
{% endblock %}
{% block content %}
		<div class="detail">
			<div class="detail-container">
                <div class="detail-head-wrapper">
                	<div class="detail-head">
					    <p class="detail-head__text">
						        {{contribution.content}}
					    </p>
				    </div>
                    <div class="unfold-btn">続きを読む</div>
                </div>
				<div class="detail-question">
					<h2 class="detail-question__ttl">あなたなら会社人事部や公的な労働相談窓口に相談する？</h2>
					<div
						class="detail-question__btn--list">
						<form action="{{path("contrib_detail",{"id":contribution.id })}}" method="post">
						<label for="">
							<input type="hidden" value="yes" name="consult">
						</label>
						<label for="">
							<input type="hidden" value="voted" name="voted">
						</label>
                        {% if voted %}
                            <input type="submit" value="相談する" name="submit" class="button disabled" disabled>
                        {% else %}
                            <input type="submit" value="相談する" name="submit" class="button able">
                        {% endif %}
					</form>
					<form action="{{path("contrib_detail",{"id":contribution.id })}}" method="post">
					<label for="">
						<input type="hidden" value="no" name="consult">
					</label>
					<label for="">
						<input type="hidden" value="voted" name="voted">
					</label>
                    {% if voted %}
                            <input type="submit" value="相談しない" name="submit" class="button disabled" disabled>
                    {% else %}
                            <input type="submit" value="相談しない" name="submit" class="button able">
                    {% endif %}
				</form>
			</div>
		</div>
        
        <div id="graphWrap">  
            <div id="graph">      
                <p class="yes" id="yesGr"><span></span></p>
                <p class="no" id="noGr"><span></span></p>
            </div>
        </div>  
		<div class="detail__graph">
			<div class="detail__graph--label">
				<p class="detail__graph--text" >相談する</p>
				<p class="per yes-per">
                {% if contribution.consultNum + contribution.notConsultNum == 0 %}
                    00%
                {% else %}
                    {{ (( contribution.consultNum / (contribution.consultNum + contribution.notConsultNum )) * 100)|round }}%
                {% endif %}
                </p>
			</div>
			<div class="detail__graph--label">
				<p class="detail__graph--text">相談しない</p>
				<p class="per no-per">
                {% if contribution.consultNum + contribution.notConsultNum == 0 %}
                    00%
                {% else %}
                {{ ( 100 - ( contribution.consultNum / (contribution.consultNum + contribution.notConsultNum )) * 100)|round }}%
                {% endif %}
                </p>
			</div>
		</div>
		<div class="detail__your-opinion">
			<h2 class="detail__your-opinion--ttl">あなたの意見</h2>
			<form action="{{path("contrib_detail",{"id":contribution.id})}}" method="post">
			<label for="" class="opinion-area">
				<textarea id="" name="comment" cols="47" rows="10" required></textarea>
			</label>
			<input type="submit" value="コメントを送信" name="submit" class="submit-btn">
		</form>
        </div>
        <div class="to-top">
            <button class="to-top__btn"><a href="{{ path('index_page') }}">TOPへ</a></button>
        </div>
        <div class="detail-opinion--list">
            <p class="detail-opinion--list__ttl">
	            みんなの意見
            </p>
            {% if not (comments == []) %}
                {% for comment in comments %}
                    <p class="detail-opinion--item">{{comment.content}}</p>
                {% endfor %}
            {% else %}
                <p class="nofetch-txt">まだコメントがありません。</p>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>
  {% endblock %}
  {% block javascript %}
    <script>
    $(function(){
        const yes = $('.yes-per').text().trim();
        if (yes === "00%") {
            $('.no').css('transform', 'translateX(50%)');
        } else {
           $('.no').css('transform', `translateX(${yes})`);
        }
        const detail_txt = $('.detail-head__text')
        const txtlen = detail_txt.html().length
        if(matchMedia("(max-width: 767px)").matches && txtlen > 120){
            const unfoldbtn = $('.unfold-btn');
            unfoldbtn.css('display','block')
            $('.detail-head').addClass('tile-folded');
            detail_txt.addClass('longtxt-folded');
            unfoldbtn.on('click', function(){
                $('.detail-head').removeClass('tile-folded');
                detail_txt.removeClass('longtxt-folded');
                unfoldbtn.fadeOut();
            })
        }
    })
    </script>

{% endblock %}


