{{ dump() }}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ path("contrib_detail", {"id":contribution.id }) }}" method="post">
    <label for="">
        <input type="hidden" value="yes" name="consult">
    </label>
    <label for="">
        <input type="hidden" value="voted" name="voted">
    </label>
    <input type="submit" value="相談する" name="submit">
</form>

<form action="{{ path("contrib_detail", {"id":contribution.id }) }}" method="post">
    <label for="">
        <input type="hidden" value="no" name="consult">
    </label>
        <label for="">
        <input type="hidden" value="voted" name="voted">
    </label>
    <input type="submit" value="相談しない" name="submit">
</form>
<form action="{{ path("contrib_detail", {"id":contribution.id }) }}" method="post">
    <label for="">
        <textarea id="" name="comment" cols="30" rows="10"></textarea>
    </label>
    <input type="submit" value="コメントを送信" name="submit">
</form>
{% for comment in comments %}
    <p>コメント:</p>
    <p>{{ comment.content }}</p>
{% endfor %}
</body>
</html>