<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{{ dump() }}
     {% for contribution in contributions %}
    <a href="{{ path("contrib_detail", {"id":contribution.id }) }}"  style="margin-bottom:50px;background-color:green;display:block;text-decoration:none;">
    <p>bwfhceuohiwn</p>
    </a>
    {% endfor %}
{{ form(searchForm) }}
    {% for i in 1 .. pagesCount %}
        <a href="{{ path('contrib_index', {'page': i }) }}">{{ i }}</a>
    {% endfor %}
</body>
</html>