{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/contrib.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/slick/slick.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/app/slick/slick-theme.css') }}">
{% endblock %}
{% block content %}
        <div class="cb__ttl-search">
            投稿検索
        </div>
        {{ form_start(searchForm) }}
        {{ form_widget(searchForm.search, { "attr" : { "class" : "form-control"}}) }}
        <div class="cb__cate-ttl">
            Category
        </div>
        {{ form_widget(searchForm.categories, { "attr" : { "class" : "hhh"}}) }}
        {{ form_end(searchForm) }}
        <div class="cb__ttl">
            投稿一覧
        </div>
        <div class="cb__wrap">
            {% for contribution in contributions %}
                <div class="cb__container">
                    <a href="{{ path("contrib_detail", {"id":contribution.id }) }}">
                        <div class="cb__tail">
                            <div class="cb__cate">
                                <span class="cb__p">category</span>{{contribution.category.cateName}}
                            </div>
                            <div class="cb__txt">
                                {{contribution.content}}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {# ページネーション↓ #}
        <div class="pagenations">
            {% for i in 1 .. pagesCount %}
                    {% if i == currentPage %}
                <a href="{{ path('contrib_index', {'page': i , 'form[categories]': queries.cateIds,'form[dateOrder]':queries.dateOrder,'form[search]':queries.search}) }}" class="pagenation current_page">{{ i }}</a>
                    {% else %}
                <a href="{{ path('contrib_index', {'page': i , 'form[categories]': queries.cate,'form[dateOrder]':queries.dateOrder,'form[search]':queries.search}) }}" class="pagenation">{{ i }}</a>
            {% endif %}
        {% endfor %}
        </div>
{% endblock %}
{% block javascript %}
<script>
const checkboxes = $('#form_categories').find('input');
const labels = $('#form_categories').find('label');
checkboxes.each(function(){
  if($(this).attr('checked')){
    const input = $(this);
      labels.each(function(){
        if(input.attr('id') === $(this).attr("for")){
            $(this).addClass('is-checked');
        }
      })
  }
})
labels.each(function(){
  $(this).on('click',function(){
    $(this).toggleClass('is-checked')
  });
})
</script>
  <script src="{{ asset('bundles/app/slick/slick.min.js') }}"></script>
<script>
$(function(){
  $('.pagenations').slick({
    slidesToShow:6,
    slidesToScroll:6,
    autoplay:false,
    arrows:true,
    dots:false,
  });
});
</script>
  <script src="{{ asset('bundles/app/slick/slick.min.js') }}"></script>
<script>
$(function(){
  $('.pagenations').slick({
    slidesToShow:5,
    slidesToScroll:5,
    autoplay:false,
    arrows:true,
    dots:false,
  });
});

</script>
{% endblock %}